main .page-wrapper {
  background-color: #AC92D4;
  background: linear-gradient(6.77deg, #AC92D4 -62.1%, #C5A2DB 4.93%, rgba(179, 160, 234, 0.572107) 32.21%, rgba(154, 158, 255, 0) 125.36%, #EFBBE8 125.38%), #FAFCFF;
}
h1 h2 h3 {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgba(53, 57, 169, 0.748);
  margin-top: 20px;
  margin-bottom: 20px;
}
/* About page intro  */
#intro {
  display: inline-block;
}

#intro p {
  text-align: left;
  margin-top: 0px;
}

#profile-image {
  float: right;
  text-align: left;
  padding: 0 20px 20px 0;
  margin-left: 100px;
}

.details {
  text-align: left;
}
/* nav component css */
nav.top-nav {
  background-color: #AC92D4;

  background: linear-gradient(6.77deg, #AC92D4 -62.1%, #C5A2DB 4.93%, rgba(179, 160, 234, 0.572107) 32.21%, rgba(154, 158, 255, 0) 125.36%, #EFBBE8 125.38%), #FAFCFF;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;

  /* color: black;
      border-bottom: .25em solid;  */
}

nav [aria-current=page] {
  background-color: white;
  color: black;
  border-bottom: .25cm solid;
}


main {
  margin-top: 100px;
  /* margin-left: 2cm; */
}

nav.top-nav li {
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  margin: 5px;
  user-select: none;
}

nav.top-nav li:hover {
  text-decoration: underline;
}

nav.top-nav ul {
  list-style: none;
}

nav.top-nav .pulldown-menu {
  display: none;
  position: absolute;
  border: 1px solid white;
  background-color: white;
}

nav.top-nav li:hover .pulldown-menu {
  display: block;
}



p {
  font-size: 20px;
}

/* modallss */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* CARDSSSSSSSSSSSSSSSSSSSSSSs */
#card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  background:#AC92D4;
  width: 300px;
  height: 375px;
  margin: 10px;
  /* overflow: auto; */
  border-radius: 15px;
  overflow:hidden;

  /* -webkit-column-width: 300px; 
  column-width: 300px; */
  /* white-space: nowrap; */
}

.btn{
  background:none;
  border:none;
 }
.card-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  width: 300px;
}
.card-text {
  margin: 10px;
  flex: 1 1 auto;
}
.description p {
  text-overflow: clip;
  /* text-align: justify; */
    justify-content:left;
    word-wrap: break-word;
    word-break: break-word;
    line-height: normal;
} 
.image-kanbooks {
  background-image: url(./assets/kanbooks.gif);
  border-radius: 10px;
}
.image-airnote {
  background-image: url(./assets/airnote-enclosure-3d-printed.png);
} 
.image-chess{
  background-image: url(./assets/chess.png);
}
.image-nudm {
  background-image: url(./assets/Leaderboard\ Hi-Fi.png);
}
.image-ipod {
  background-image: url(./assets/ipod-ui.png);
}
.image-nautilus {
  background-image: url(./assets/nautilus.png);
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  /* object-fit:cover; */
  max-height: 270px;
  border-radius: 10px;
}

.details {
  overflow: hidden;
}

